{% extends 'base.html' %}

{% block content %} 
<div class="container"> 
    
        <h1>Have you used Google Maps?</h1>
        <p>You type your destination and your location sometimes.
            <br>
            But now instead of typing your destination, you can just upload the image of your destination.
    
        </p>
        <p>Sounds interesting right!!!......</p>
        <a href="{{ url_for('features')}}">
            <button type="button" class="btn btn-dark">Try now</button>
        </a>

 
</div>
{% endblock content %}
